.modalBtn {
  display: flex;
  justify-content: space-between;
}
.editBtn {
  outline: none;
  border: none;
  height: 45px;
  width: 80px;
  border-radius: 4px;
  background-color: var(--sideBarColor);
  color: #ffffff;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.btnUpdate {
  height: 40px;
  width: 180px;
  border-radius: 4px;
  background-color: #98cbff;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  margin-top: 1rem;
}
