.addSiteModal {
  color: #3c4857;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 41px;
}

.url {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.inputStyle {
  border: none;
  outline: none;
  border: 1px solid #f5f7fb;
  border-radius: 4px;
  background-color: #f5f7fb;
  height: 29px;
  padding: 16px;
  width: 100%;
  color: #3c4858;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

textarea.inputStyle {
  height: 3rem;
}

.inputStyle:focus {
  border: 1px solid #dedede;
}

.firstLine {
  display: flex;
  gap: 18px;
  margin: 1rem 0rem;
}

.modalButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.modalButtons {
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: -1px;
  border: none;
  cursor: pointer;
  padding: 6px 50px;
  border-radius: 5px;
  margin-top: 2rem;
  height: 45px;
}

.button2 {
  background-color: white;
  color: var(--color);
  border: 1px solid var(--color);
  font-weight: 800;
}

.saveBtn {
  background-color: var(--sideBarColor);
  color: white;
  border: 1px solid var(--color);
  font-weight: 800;
}
.resetBtn {
  background-color: white;

  color: var(--sideBarColor);
  border: 1px solid var(--color);
  font-weight: 800;
}

.sitePassword {
  position: relative;
}

.passwordEye {
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  height: 11.98px;
  width: 19.98px;
}

.classLabel {
  color: #949ca5;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}
.selectFolder {
  position: relative;
}
.dropDown {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
